.drupal-imager-js-wrapper {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}
.drupal-imager-js-wrapper img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
.drupal-imager-js-wrapper.intrinsic-ratio img {
  position: absolute;
}


/* Background image - test only */
.drupal-imager-js-wrapper {
  /*background-image: url(http://uk.novationmusic.com/sites/default/files/styles/cta_scale_320/public/Calc%26NDF_Body-Image_0_0.png);*/
}

/* Fade in example css - copy css into theme */
/*
.drupal-imager-js-wrapper img {
  opacity: 0;
  transition: all 300ms ease;
}
.drupal-imager-js-wrapper.image-loaded img {
  opacity: 1;
}
*/